extends layouts/main
include mixins/videoBlock

block content
    .videos
        each video in videos
            +videoBlock({
                id:video.id,
                thumbnail:video.videoFile,
                title:video.title,
                views:video.views,
            })

