extends layouts/main
include mixins/videoBlock

block content
      .home-videos
        each video in videos
            +videoBlock({
                id:video.id,
                videoFile:video.fileUrl,
                title:video.title,
                views:video.views,
            })