extends layouts/main
include mixins/videoBlock

block content
    .search__header
        h3 Searching for: #{searching}
    .search__result
        if videos.length === 0
            .search__result-none No Videos Found
        .search-videos
            each video in videos
                +videoBlock({
                    fileUrl:video.fileUrl,
                    title:video.title,
                    views:video.views,
                    id:video.id
                })

